{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="h-[90%] overflow-y-auto snap-y snap-mandatory">
    <div class="h-full snap-start bg-gray-800">Section</div>
     <div 
        id="scroll-section"
        class="h-full snap-start bg-gray-100 overflow-y-auto flex p-5 xl:p-20"
        data-controller="scroll-on-click"
     >
        <div id="linksBlock" class="w-[25%] hidden sm:flex flex-col justify-between px-0 lg:px-5">
            <a href="#btsBlock" 
                class="text-white bg-blue-600 hover:border-blue-600 border-blue-600 rounded-xl"
                data-action="click->scroll-on-click#clickToScrollBlock"
                data-scroll-on-click-target="formationLink">
                <div class="p-2">
                    <div class="flex items-start">
                        <div class="mr-2">
                            {{ ux_icon('garden:bot-generic-26', {
                                height:'30px', 
                                width:'30px', 
                                'aria-hidden': true,
                            }) }}
                        </div>
                        <div class="hidden sm:block">
                            <h2 class="uppercase items-center font-bold text-xl">Les BTS</h2> 
                            <h3 class="font-light text-sm">les plus recherchés</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#licencesBlock" 
                class="text-gray-400 border-gray-100  bg-gray-200 hover:text-white hover:bg-blue-600 hover:border-blue-600  rounded-xl"
                data-action="click->scroll-on-click#clickToScrollBlock"
                data-scroll-on-click-target="formationLink">
                <div class="p-2">
                    <div class="flex items-start">
                        <div class="mr-2">
                            {{ ux_icon('ion:rocket', {
                                height:'28px', 
                                width:'28px', 
                                'aria-hidden': true,
                            }) }}
                        </div>
                        <div class="hidden sm:block">
                            <h2 class="uppercase items-center font-bold text-xl ">Les Licences</h2> 
                            <h3 class="font-light text-sm">les plus recherchées</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#mastersBlock" 
                class="text-gray-400 border-gray-100  bg-gray-200 hover:text-white hover:bg-blue-600 hover:border-blue-600  rounded-xl"
                data-action="click->scroll-on-click#clickToScrollBlock"
                data-scroll-on-click-target="formationLink">
                <div class="p-2">
                    <div class="flex items-start">
                        <div class="mr-2">
                            {{ ux_icon('eos-icons:master', {
                                height:'28px', 
                                width:'28px', 
                                'aria-hidden': true,
                            }) }}
                        </div>
                        <div class="hidden sm:block">
                            <h2 class="uppercase items-center font-bold text-xl ">Les Masters</h2> 
                            <h3 class="font-light text-sm">les plus recherchés</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#diplomesFiliereBlock" 
                class="text-gray-400 border-gray-100  bg-gray-200 hover:text-white hover:bg-blue-600 hover:border-blue-600  rounded-xl"
                data-action="click->scroll-on-click#clickToScrollBlock"
                data-scroll-on-click-target="formationLink">
                <div class="p-2">
                    <div class="flex items-start">
                        <div class="mr-2">
                            {{ ux_icon('mdi:book-education', {
                                height:'28px', 
                                width:'28px', 
                                'aria-hidden': true,
                            }) }}
                        </div>
                        <div class="hidden sm:block">
                            <h2 class="uppercase items-center font-bold text-xl ">Les diplômes par filière</h2> 
                            <h3 class="font-light text-sm">les plus recherchés</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#typesEtablissementBlock" 
                class="text-gray-400 border-gray-100  bg-gray-200 hover:text-white hover:bg-blue-600 hover:border-blue-600  rounded-xl"
                data-action="click->scroll-on-click#clickToScrollBlock"
                data-scroll-on-click-target="formationLink">
                <div class="p-2">
                    <div class="flex items-start">
                        <div class="mr-2">
                            {{ ux_icon('teenyicons:school-solid', {
                                height:'28px', 
                                width:'28px', 
                                'aria-hidden': true,
                            }) }}
                        </div>
                        <div class="hidden sm:block">
                            <h2 class="uppercase items-center font-bold text-xl ">Les types d'établissements</h2> 
                            <h3 class="font-light text-sm">les plus recherchés</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#formationFiliereBlock" 
                class="text-gray-400 border-gray-100  bg-gray-200 hover:text-white hover:bg-blue-600 hover:border-blue-600  rounded-xl"
                data-action="click->scroll-on-click#clickToScrollBlock"
                data-scroll-on-click-target="formationLink">
                <div class="p-2">
                    <div class="flex items-start">
                        <div class="mr-2">
                            {{ ux_icon('eos-icons:network-policy', {
                                height:'28px', 
                                width:'28px', 
                                'aria-hidden': true,
                            }) }}
                        </div>
                        <div class="hidden sm:block">
                            <h2 class="uppercase items-center font-bold text-xl ">Les formations par filière</h2> 
                            <h3 class="font-light text-sm">les plus recherchées</h3>
                        </div>
                    </div>
                </div>
            </a>        
        </div>
        <figure 
            class="flex flex-col gap-1 rounded-xl w-full sm:w-[75%] bg-white">
            <div 
                class="not-prose overflow-auto rounded-lg h-full"
            >
                <div id="formationsBlock" class="h-full py-5 sm:py-52 2xl:py-96 overflow-y-auto px-5 snap-y snap-mandatory"
                data-controller="scroll-block"
                >
                    <div id="btsBlock" class="transition-all duration-500 ease-in-out translate-3 my-5 lg:my-30 overflow-y-auto snap-center"
                    data-scroll-block-target="itemBlock">
                        <div class="block sm:hidden">
                            <h2 class="uppercase items-center font-bold text-xl">Les BTS</h2> 
                            <h3 class="font-light text-sm">les plus recherchés</h3>
                        </div>
                        <div class="flex flex-wrap content-center">
                            {% for bts in formations.bts %}
                                <div class="m-1">
                                    <button class="rounded-full text-bas font-medium justify-end align-middle border-1 py-1.5 px-4
                                    
                                    bg-gray-300 text-gray-600 border-gray-400 hover:bg-gray-700 hover:text-gray-100
                                      sm:border-blue-600  sm:text-blue-100 sm:bg-blue-600 sm:hover:bg-blue-900 sm:hover:text-blue-200 
                                    "
                                    >
                                    <small>{{ bts.name }}</small>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mt-5">
                            <a href="#" class="text-sm font-bold flex justify-end align-middle text-teal-500  hover:text-teal-200 left-3 bottom-3">
                                Voir tous les BTS
                                {{ ux_icon('gravity-ui:arrow-right', {
                                height: '20px', 
                                width: '20px', 
                                'aria-hidden': true,
                                'class': 'mr-1'
                                }) }}
                            </a>
                        </div>
                    </div>
                    <div id="licencesBlock" class="transition-all duration-500 ease-in-out translate-3 my-5 lg:my-30 overflow-y-auto snap-center"
                    data-scroll-block-target="itemBlock">
                        <div class="block sm:hidden">
                            <h2 class="uppercase items-center font-bold text-xl ">Les Licences</h2> 
                            <h3 class="font-light text-sm">les plus recherchées</h3>
                        </div>
                        <div class="flex flex-wrap content-center">
                            {% for licence in formations.licences %}
                                <div class="m-1">
                                    <button class="rounded-full text-bas font-medium justify-end align-middle border-1 py-1.5 px-4  bg-gray-300 text-gray-600 border-gray-400 hover:bg-gray-700 hover:text-gray-100"
                                    >
                                    <small>{{ licence.name }}</small>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mt-5">
                            <a href="#" class="text-sm font-bold flex justify-end align-middle text-teal-500  hover:text-teal-200 left-3 bottom-3">
                                Voir tous les licences
                                {{ ux_icon('gravity-ui:arrow-right', {
                                height: '20px', 
                                width: '20px', 
                                'aria-hidden': true,
                                'class': 'mr-1'
                                }) }}
                            </a>
                        </div>
                    </div>
                    <div id="mastersBlock" class="transition-all duration-500 ease-in-out translate-3 my-5 lg:my-30 overflow-y-auto snap-center"
                    data-scroll-block-target="itemBlock">
                        <div class="block sm:hidden">
                            <h2 class="uppercase items-center font-bold text-xl ">Les Masters</h2> 
                            <h3 class="font-light text-sm">les plus recherchés</h3>
                        </div>
                        <div class="flex flex-wrap content-center">
                            {% for master in formations.masters %}
                                <div class="m-1">
                                    <button class="rounded-full text-bas font-medium justify-end align-middle border-1 py-1.5 px-4  bg-gray-300 text-gray-600 border-gray-400 hover:bg-gray-700 hover:text-gray-100">
                                    <small>{{ master.name }}</small>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mt-5">
                            <a href="#" class="text-sm font-bold flex justify-end align-middle text-teal-500  hover:text-teal-200 left-3 bottom-3">
                                Voir tous les masters   
                                {{ ux_icon('gravity-ui:arrow-right', {
                                height: '20px', 
                                width: '20px', 
                                'aria-hidden': true,
                                'class': 'mr-1'
                                }) }}
                            </a>
                        </div>
                    </div>
                    <div id="diplomesFiliereBlock" class="transition-all duration-500 ease-in-out translate-3 my-5 lg:my-30 overflow-y-auto snap-center" data-scroll-block-target="itemBlock">
                        <div class="block sm:hidden">
                            <h2 class="uppercase items-center font-bold text-xl ">Les diplômes par filière</h2> 
                            <h3 class="font-light text-sm">les plus recherchés</h3>
                        </div>
                        <div class="flex flex-wrap content-center">
                            {% for diplomeFiliere in formations.diplomesFiliere %}
                                <div class="m-1">
                                    <button class="rounded-full text-bas font-medium justify-end align-middle border-1 py-1.5 px-4  bg-gray-300 text-gray-600 border-gray-400 hover:bg-gray-700 hover:text-gray-100">
                                    <small>{{ diplomeFiliere.name }}</small>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mt-5">
                            <a href="#" class="text-sm font-bold flex justify-end align-middle text-teal-500  hover:text-teal-200 left-3 bottom-3">
                                Voir tous les diplômes par filière
                                {{ ux_icon('gravity-ui:arrow-right', {
                                height: '20px', 
                                width: '20px', 
                                'aria-hidden': true,
                                'class': 'mr-1'
                                }) }}
                            </a>
                        </div>
                    </div>
                    <div id="typesEtablissementBlock" class="transition-all duration-500 ease-in-out translate-3 my-5 lg:my-30 overflow-y-auto snap-center"
                    data-scroll-block-target="itemBlock">
                        <div class="block sm:hidden">
                            <h2 class="uppercase items-center font-bold text-xl ">Les types d'établissements</h2> 
                            <h3 class="font-light text-sm">les plus recherchés</h3>
                        </div>
                        <div class="flex flex-wrap content-center">
                            {% for typeEtablissement in formations.typesEtablissement %}
                                <div class="m-1">
                                    <button class="rounded-full text-bas font-medium justify-end align-middle border-1 py-1.5 px-4  bg-gray-300 text-gray-600 border-gray-400 hover:bg-gray-700 hover:text-gray-100">
                                    <small>{{ typeEtablissement.name }}</small>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mt-5">
                            <a href="#" class="text-sm font-bold flex justify-end align-middle text-teal-500  hover:text-teal-200 left-3 bottom-3">
                                Voir tous les types d'établissement
                                {{ ux_icon('gravity-ui:arrow-right', {
                                height: '20px', 
                                width: '20px', 
                                'aria-hidden': true,
                                'class': 'mr-1'
                                }) }}
                            </a>
                        </div>
                    </div>
                    <div id="formationFiliereBlock" class="transition-all duration-500 ease-in-out translate-3 my-5 lg:my-30 overflow-y-auto snap-center" data-scroll-block-target="itemBlock">
                    <div class="block sm:hidden">
                            <h2 class="uppercase items-center font-bold text-xl ">Les formations par filière</h2> 
                            <h3 class="font-light text-sm">les plus recherchées</h3>
                        </div>
                        <div class="flex flex-wrap content-center">
                            {% for formationFiliere in formations.formationsFiliere %}
                                <div class="m-1">
                                    <button class="rounded-full text-bas font-medium justify-end align-middle border-1 py-1.5 px-4  bg-gray-300 text-gray-600 border-gray-400 hover:bg-gray-700 hover:text-gray-100">
                                    <small>{{ formationFiliere.name }}</small>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mt-5">
                            <a href="#" class="text-sm font-bold flex justify-end align-middle text-teal-500  hover:text-teal-200 left-3 bottom-3">
                                Voir tous les formations par filière
                                {{ ux_icon('gravity-ui:arrow-right', {
                                height: '20px', 
                                width: '20px', 
                                'aria-hidden': true,
                                'class': 'mr-1'
                                }) }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </figure>
    </div>
    <!-- Sección 4 -->
    <div class="h-full snap-start bg-gray-200">Sección 4</div>
    
    <!-- Sección 5 -->
    <div class="h-full snap-start bg-purple-200">Sección 5</div>
</div>

{% endblock %}
