{% extends 'base.html.twig' %}

{% block title %}Création du questionnaire{% endblock %}

{% block body %}
{% dump(form.user.vars) %}
<div class="border-blue-900 border-2 rounded-2xl px-16 py-12">
	{{ form_start(form) }}
		<div class="space-y-12">
			<div class="border-b border-white/10 pb-12">
				<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
					<div class="sm:col-span-3">
						{{ form_label(form.user.name) }}
						<div class="mt-2">
							{{ form_widget(form.user.name) }}
						</div>
					</div>
					<div class="sm:col-span-3">
						{{ form_label(form.user.lastName) }}
						<div class="mt-2">
							{{ form_widget(form.user.lastName) }}
						</div>
					</div>
					<div class="sm:col-span-4">
						{{ form_label(form.user.email) }}
						<div class="mt-2">
							{{ form_widget(form.user.email) }}
						</div>
					</div>
					<div class="sm:col-span-4">
						{{ form_label(form.pollName) }}
						<div class="mt-2">
							{{ form_widget(form.pollName) }}
						</div>
					</div>
					<div class="sm:col-span-6">
						{{ form_label(form.description) }}
						<div class="mt-2">
							{{ form_widget(form.description) }}
						</div>
					</div>
					<div class="sm:col-span-3">
						{{ form_label(form.expirationDate) }}
						<div class="mt-2">
							{{ form_widget(form.expirationDate) }}
						</div>
					</div>
					<div class="sm:col-span-5">
						{{ form_label(form.questions) }}
						<div class="mt-2">
							{{ form_widget(form.questions) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-6 flex items-center justify-end gap-x-6">
			<button 
				type="submit" 
				class="rounded-4xl bg-blue-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-blue-500"
			>
			Envoyer
			</button>
		</div>
	{{ form_end(form) }}
	</div>
{% endblock %}
